<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>マルチ（笑）</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  <%- include('header'); %>
    <div class="main">
      <div class="container">
        <h1>連絡掲示板で使える2つの機能</h1>
        <div class="line">
          <h3>チャット機能</h3>
          <p>・相手を指定してメッセージを送ることができます。</p>
          <p>・マルチへの勧誘は禁止です。</p>
          <p>※ログインが必要です。</p>
          <a href="/line">はじめる</a>

        </div>
        <div class="twitter">
          <h3>掲示板機能</h3>
          <p>・だれでも閲覧できる掲示板に投稿できます。</p>
          <p>・マルチへの勧誘は禁止です。</p>
          <p>※ログインは必要ありません。</p>
          <a href="/board">はじめる</a>

        </div>


      </div>


    </div>
    <div class="container">
      <div class="main-bottom">
        <h4>ログインはこちらから</h4>
        <a href="/login2">ログイン</a>
        <h4>新規登録はこちらから</h4>
        <a href="/new">新規登録</a>
      </div>

    </div>
    <footer>

    </footer>

  </body>
</html>
