<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>マルチ（（笑））</title>
    <meta name="description" content="マルチ以外のチャットサイト">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="top">
      <div class="container">
        <div class="top-text">
          <p>マルチ（笑）</p>
          <h1>連絡掲示板</h1>
          <p>マルチ勧誘お断り。</p>
          <p>うんこ漏らしは大歓迎！</p>
        </div>
          <div class="top-right">
            <a href="/contact" class="btn startup">はじめる</a>
          </div>



      </div>
    </div>
  </body>
</html>
